<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.summy.controlrendimiento">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.RegistroActivity" />
        <activity android:name=".views.DiariaActivity" />
        <activity android:name=".views.RegistroAdminActivity" />

        <!-- aqui habilitamos el boton volver de activity dtos frecuencia y volumen -->
        <activity
            android:name=".views.DatosFrecuenciaVolumenActivity"
            android:label="@string/title_datos_frecuencia_volumen"
            android:parentActivityName=".views.DiariaActivity">

            <!-- Este meta-data nos permite saber cual sera la actividad padre de esta actividad -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.DiariaActivity" />
        </activity>
        <!-- ////////////////////////////////////////////////////////////////// -->


        <!-- aqui habilitamos el boton volver de activity editar registro atleta -->
        <activity
            android:name=".views.EditarRegistroAtleta"
            android:label="@string/title_editar_registro_atleta"
            android:parentActivityName=".views.DiariaActivity">

            <!-- Este meta-data nos permite saber cual sera la actividad padre de esta actividad -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.DiariaActivity" />
        </activity>
        <!-- ////////////////////////////////////////////////////////////////// -->

        <activity android:name=".views.ObtenerCompetenciasApiActivity" />
        <activity
            android:name=".views.PeriodosActivity"
            android:parentActivityName=".views.RegistroAdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.DiariaActivity" />
        </activity>
        <activity android:name=".views.DialogCompetenciaNacionalActivity" />
        <activity
            android:name=".views.NatacionAdminActivity"
            android:parentActivityName=".views.RegistroAdminActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.DiariaActivity" />
        </activity>
        <activity android:name=".views.NatacionUserActivity" />
        <activity android:name=".views.CiclismoUserActivity" />
        <activity android:name=".views.CarreraUserActivity" />
        <activity
            android:name=".views.ListCompetenciasUserActivity"
            android:parentActivityName=".views.DiariaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.DiariaActivity" />
        </activity>
        <activity
            android:name=".views.EntrenamientoNatacionAdminActivity"
            android:parentActivityName=".views.RegistroAdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.RegistroAdminActivity" />
        </activity>
        <activity android:name=".views.EntrenamientoCiclismoAdminActivity" />
        <activity android:name=".views.EntrenamientoCarreraAdminActivity"></activity>
    </application>

</manifest>